
<%= render 'shared/formnav', back_path: :back, nav_text: 'REGISTER' %>

<div class="form-wrapper">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, multipart: true, class: 'form-wrapper' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field">
    <%= f.text_field :name, placeholder: "Name", autofocus: true, autocomplete: "name", class: "new-input-field" %>
  </div><br>

  <div class="form-field">
    <%= f.label "Profile Photo"%>
    <%= f.file_field :profile_photo, class: "input-field" %>
  </div><br>

  <div class="form-field">
    <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "new-input-field" %>
  </div><br>

  <div class="form-field">
    <% if @minimum_password_length %>
      <em class="password-requirements">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "new-input-field" %>
  </div><br>

  <div class="form-field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "new-input-field" %>
  </div><br>

  <div class="form-actions">
    <%= f.submit "Next", class: "next-button" %>
  </div>
<% end %>

</div>

