<%= stylesheet_link_tag 'splash' %>

<div class="splash-wrapper">
    <div></div>
  <div class="big-logo-box">
    <%= image_tag 'GXbig.png', class: "big-logo"  %>
  
  </div>

  <div class="splash-links">
      <%= link_to "LOG IN", new_user_session_path, class: "login" %>
    
      <%= link_to "SIGN UP", new_user_registration_path, class: "signup" %>
  </div>
</div>
<%=  %>